[Unit]
Description=Rclone mount for zurg
After=network-online.target

[Service]
Type=notify
ExecStart=/opt/zurg-testing/rclone mount \
  --config=/opt/zurg-testing/rclone.conf \
  --log-level=INFO \
  --log-file=/opt/zurg-testing/logs/zurg.log \
  --allow-other \
  --cache-dir=/opt/zurg-testing/cache/zurg \
  --dir-cache-time=20s \
  zurg: /media/zurg
ExecStop=/bin/bash -c '/bin/fusermount -uz /media/zurg; umount /media/zurg'
Restart=on-abort
RestartSec=1
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
